@import "../../colours.scss";
@import "../../mixins.scss";

.Application {
  display: flex;
  flex-direction: column;
  flex: 1;

  .content {
    display: flex;
    flex-direction: row;
    flex: 1;
  }
}